* {
    font-family: Arial; 
}

#drop-down{
color: darkslategrey;
margin-right: 10%;
margin-left: 30%;
}

#analyze-val{
    background-color:#4CAF50;
    color:white;
    border:none; 
    width : 40%;
    border-radius :10px; 
    padding:15px;
    margin-left: 58%;
    margin-right: 10%;
}
#analyze-val:disabled{
    background-color:#d4d4d4;
    color:rgb(87, 87, 87);
    border:none; 
    width : 40%;
    border-radius :10px; 
    padding:15px;
    margin-left: 58%;
    margin-right: 10%;
}
#folder-path-state{
    display: None;
    color: dark;
}
#del_files_call{
    display: None;
    color: dark
}

#reset-val{
    background-color:#c90000;
    color:white;
    border:none; 
    width : 40%;
    border-radius :10px; 
    padding:15px;
    margin-left: 10%;
    margin-right: 30%;
}
