* {
    font-family: Arial; 
}
#page_title {
    margin-top: 1.5%;
}

#upload-markdown{
    color: white;
    margin-left: 25%;
    margin-right: 0%; 
    margin-top: 5%;
}
#process-markdown{
    color: white;
    margin-left: 20%;
    margin-right: 0%; 
    margin-top: 5%;
}
#senti-pii-markdown{
    color: white;
    margin-left: 20%;
    margin-right: 0%; 
    margin-top: 5%;
}

#drop-down{
color: darkslategrey;
margin-right: 10%;
margin-left: 30%;
}

#analyze-val{
    background-color:#4CAF50;
    color:white;
    border:none; 
    width : 75%;
    border-radius :10px; 
    padding:15px;
    margin-left: 20%;
    margin-right: 0%;
}
#analyze-val:disabled{
    background-color:#d4d4d4;
    color:rgb(87, 87, 87);
    border:none; 
    width : 75%;
    border-radius :10px; 
    padding:15px;
    margin-left: 20%;
    margin-right: 0%;
}

#reset-val{
    background-color:#c90000;
    color:white;
    border:none; 
    width : 75%;
    border-radius :10px; 
    padding:15px;
    margin-left: 0%;
    margin-right: 0%;
}

#analyze-sentiments-btn{
    background-color:#008CBA;
    color:white;
    border:none; 
    width : 75%;
    border-radius :10px; 
    padding:15px;
    margin-left: 20%;
    margin-right: 0%;
}

#analyze-pii-btn{
    background-color:#008CBA;
    color:white;
    border:none; 
    width : 74%;
    border-radius :10px; 
    padding:15px;
    margin-left: 0%;
    margin-right: 0%;
}

.link-btn {
    border: none;
    background-color: #32383e;
    padding: 14px 28px;
    margin-left: 2%;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    color: rgb(255,255,255);
    text-decoration: underline;
  }

#folder-path-state{
    display: None;
    color: dark;
}
#del_files_call{
    display: None;
    color: dark;
}
  .topics-str{
    color: white;
    margin-left: 6%;
    margin-top: -0.5%;
  }

